<div class="bg-white rounded-md shadow hover:outline hover:outline-1 hover:outline-stone-500">
  <div data-controller="entry-view">
    <div class="flex justify-between p-3">
      <div class="text-sm text-stone-500 hover:text-stone-600">
        <div class="flex items-center space-x-1">
          <span><%= entry.created_at.to_formatted_s(:db) %></span>
        </div>
      </div>
      <div class="text-sm text-stone-400">
        <%= link_to edit_entry_path(entry), { "data-turbo-stream": true } do %>
          <%= icon "edit", class: "h-5 w-auto" %>
        <% end %>
        <%= turbo_frame_tag dom_id(entry, :edit) %>
      </div>
    </div>
    <div class="hidden">
      <%= text_area :entry, :content, value: json_field_value(entry.content), data: { "entry-view-target": "data" } %>
    </div>
    <div class="p-3 pt-0 prose" data-entry-view-target="view"></div>
  </div>
</div>
